
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    font-family: Arial, sans-serif;
}

.form-container {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

h2 {
    text-align: center;
    color: #0c0c0c;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
}

.form-group label {
    width: 45%;
    text-align: left;
    color: #131212;

    
}

.form-group input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    
}


.gender-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gender-group label {
    margin-right: 10px;
    padding-bottom: 2px;
}

.submit-button {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.submit-button1 {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #e29d08, #f03304);
    color: white;
    font-size: 16px;
    cursor: pointer;

}

.submit-button:hover {
    opacity: 0.9;
}

.submit-button1:hover {
    opacity: 0.9;
}